PORT=3000
MONGODB_URI=mongodb+srv://username:password@cluster.example.mongodb.net/chat-app
JWT_SECRET_KEY=replace_with_a_long_random_secret
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
